<footer class="text-muted py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <p class="mb-1">Copyright &copy; 2022  Dillon Vuong. Powered by <a href="https://hackaday.io/myFeed" target="_blank">Hackaday</a>.</p>
      <p class="mb-0"><a href="https://supplyframe.com/">Supplyframe</a> coding challenge. Fit it <a href="https://github.com/dillonvuong/supplyframe-challenge" target="_blank">here</a> on Github!</p>
    </div>
  </footer>