<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark bg-gradient">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/images/logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top bg-dark">
        Hackaday
      </a>
    </div>
  </nav>