<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark bg-gradient">
    <div class="container">
      <a class="navbar-brand hfr-navbar-item logo" href="/">
        <img src="/images/logo-squares.png" alt="" width="33px" class="">
        <img src="/images/hackaday-logo.svg" alt="" class="">
      </a>
    </div>
  </nav>