<div class="container">
    <% for(let object of details){ %>
        <div class="card">
            <h1 class="card-title"><%= object.project.name %></h1>
            <h1 class="card-title"><%= object.owner_name %></h1>
            <p class="card-body"><%= object.project.description %></p>
        </div>
        
    <% } %>    
</div>