img{
  -webkit-user-drag: none;
}

.img-logo {
  height: 33px;
  width: 33px;
}

.container-fluid{
  padding-left: 72px;
  padding-right: 72px;;
}

.hfr-navbar-item{
  color: #f5f5f5;
  display: block;
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  position: relative;
}

.user-display-name {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  white-space: nowrap;
  -ms-flex: 1;
  flex: 1;
  margin-left: 8px;
  color: #0d0c22;
}

/* color filter for SVGS */
.filter-gray-3 {
  filter: invert(56%) sepia(0%) saturate(295%) hue-rotate(168deg) brightness(89%) contrast(85%);
}

.user-hoverable {
  position: relative;
  display: inline-block;
  z-index: 2;
}


.user-hoverable .user-hoverable-text {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.user-hoverable .user-hoverable-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}